body {
  min-width: 300px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  font-size: 1.5em;
  margin: 5px 0;
  min-width: 100px;
  padding: 10px;
  text-decoration: none;
}
a:hover {
  background-color: #f9f9c5;
}
span {

}